*{
    box-sizing: border-box;
}

body{
    background-image: url("https://previews.123rf.com/images/etiamos/etiamos1206/etiamos120600138/14180780-background-made-of-papers-with-colorful-numbers.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

main{
    font-family: 'Courier New', Courier, monospace;
}

div{
    text-align: center;
    margin-top: 300px;
}

.question-form{
    display: inline-block;
    text-align: left;
}

button {
    font-family : inherit;
    font-size: 1em;
    margin: 10px;
}
button:hover {background-color: dimgray;}
button:active {
    background-color: dimgray;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
input{
    cursor: pointer;
}

.h1-score{
    margin: 0;
}

.q-div{
    margin-top: 0px;
}
